body {
    /* box model */
    margin: 0;
    padding: 0;
    /* color */
    background: #f7f7f7;
    color: #444a4f;
    font-family: Helvetica, Arial sans-serif;
}

/* Header */

h1 {
    /* box model */
    margin: 4rem 0;
    /* text */
    font: 6rem/0.5rem Helvetica, Arial sans-serif;
    font-weight: lighter;
    color: #444a4f;
    /* positioning */
    text-align: center;
}

/* Menu container */
#menu-container {
    /* box model */
    width: 40%;
    margin: auto;
    padding-top: 30px;
    /* text */
    text-align: center;
}

#menu-container > div {
    /* flexbox */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

button {
    /* box model */
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;

    /* color */
    background-color: #444a4f;
    /* font */
    font-size: 20px;
    color: #f7f7f7;
}

button:hover {
    background-color: #5f676e;
}

button:focus {
    outline: none;
}

p {
    font-size: 25px;
}

/* Game container */
#game-container {
    /* box model */
    width: 70vh;
    height: 70vh;
    margin: 0 auto 15px auto;

    /* grid */
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
}

/* tiles */
.tile {
    /* color */
    background: #444a4f;
    /* box-model */
    box-sizing: border-box;
    border: solid 2px #444a4f;
    /* overflow */
    overflow: hidden;
}

.tile:hover {
    /* color */
    background: #929394;
    border-color: #929394;
}

img {
    object-fit: cover;
    display: none;
    /* size */
    width: 100%;
    height: 100%;
}